[Unit]
Description=Fan Manager Service

[Service]
Type=simple
WorkingDirectory=/etc/fan-manager
ExecStart=/usr/bin/python3 /usr/bin/fan-manager
Restart=on-failure

[Install]
WantedBy=multi-user.target
